@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

pre > code {
  display: grid;
}
.prose pre {
  @apply px-0 bg-slate-200 dark:bg-slate-800
}
.line {
  @apply border-l-4 border-l-transparent pl-2 pr-3
}
.line.highlighted {
  @apply bg-slate-100 border-l-pink-400 dark:bg-slate-700 dark:border-l-blue-500 ;
}
.prose :where(:not(pre)>code):not(:where([class~=not-prose] *)) {
  @apply bg-slate-800/10 dark:bg-slate-200/10 px-2 py-1 rounded
}
.prose :where(code):not(:where([class~=not-prose] *)):before,
.prose :where(code):not(:where([class~=not-prose] *)):after {
  @apply content-none
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.metric-card > a {
  @apply no-underline;
}

.metric-card > p {
  @apply my-2;
}

.step > h3 {
  @apply my-0;
}
