@tailwind base;
@tailwind components;
@tailwind utilities;

.parallax > use {
  animation: move-forever 6s linear -2s infinite;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.otter {
  display: inline-block;
  animation: otter 4s ease-in-out 1s infinite;
}

@keyframes otter {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 12px, 0);
  }
}
